### Problem Statement

#### Hate Speech Classification

Hate speech is an unfortunately common occurrence on the Internet. Often social media sites like Facebook and Twitter face the problem of identifying and censoring problematic posts while weighing the right to freedom of speech. The importance of detecting and moderating hate speech is evident from the strong connection between hate speech and actual hate crimes. Early identification of users promoting hate speech could enable outreach programs that attempt to prevent an escalation from speech to action.

The objective of this task is to detect hate speech in tweets. For the sake of simplicity, we say a tweet contains hate speech if it has a racist or sexist sentiment associated with it. So, the task is to classify racist or sexist tweets from other tweets.

Formally, given a training sample of tweets and labels, where label '1' denotes the tweet is racist/sexist and label '0' denotes the tweet is not racist/sexist, your objective is to predict the labels on the test dataset.

#### Data Source
https://datahack.analyticsvidhya.com/contest/hate-speech-classification/

In [1]:
# import libraries 
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
import pandas as pd
import string
import nltk
import os

import nltk
nltk.download('stopwords')

## load dataset

#data = pd.read_csv(add)
df_train = pd.read_csv("train.csv", encoding='latin-1')
df_test = pd.read_csv("test_tweets.csv", encoding='latin-1')
#data = pd.read_csv(add, encoding='latin-1')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sourav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#Combine into data:
df_train['source']= 'train'
df_test['source'] = 'test'

data=pd.concat([df_train, df_test],ignore_index=True, sort=False)
data.head(5)

   id  label                                              tweet source
0   1    0.0   @user when a father is dysfunctional and is s...  train
1   2    0.0  @user @user thanks for #lyft credit i can't us...  train
2   3    0.0                                bihday your majesty  train
3   4    0.0  #model   i love u take with u all the time in ...  train
4   5    0.0             factsguide: society now    #motivation  train

In [3]:
import re
def  clean_text(df, text_field):
    df[text_field] = df[text_field].str.lower()
    df[text_field] = df[text_field].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    return df

data = clean_text(data, "tweet")
#train_clean = clean_text(train, "tweet")
data.head()

   id  label                                              tweet source
0   1    0.0    when a father is dysfunctional and is so sel...  train
1   2    0.0    thanks for lyft credit i cant use cause they...  train
2   3    0.0                                bihday your majesty  train
3   4    0.0  model   i love u take with u all the time in u...  train
4   5    0.0               factsguide society now    motivation  train

In [4]:
from nltk.corpus import stopwords

In [5]:
# text preprocessing 
lem = WordNetLemmatizer()

def clean_text(text):
    ## lower case 
    cleaned = text.lower()
    
    ## remove punctuations
    punctuations = string.punctuation
    cleaned = "".join(character for character in cleaned if character not in punctuations)
    
    ## remove stopwords 
    words = cleaned.split()
    stopword_lists = stopwords.words("english")
    cleaned = [word for word in words if word not in stopword_lists]
    
    ## normalization - lemmatization
    cleaned = [lem.lemmatize(word, "v") for word in cleaned]
    cleaned = [lem.lemmatize(word, "n") for word in cleaned]
    
    ## join 
    cleaned = " ".join(cleaned)
    return cleaned

data["cleaned"] = data["tweet"].apply(lambda x : clean_text(x))
data.head()

,id,label,tweet,source,cleaned
0,1,0.0,when a father is dysfunctional and is so sel...,train,father dysfunctional selfish drag kid dysfunct...
1,2,0.0,thanks for lyft credit i cant use cause they...,train,thank lyft credit cant use cause dont offer wh...
2,3,0.0,bihday your majesty,train,bihday majesty
3,4,0.0,model i love u take with u all the time in u...,train,model love u take u time ur
4,5,0.0,factsguide society now motivation,train,factsguide society motivation

In [6]:
## feature engineering 

## meta features 

data["word_count"] = data["tweet"].apply(lambda x : len(x.split()))
data["word_count_cleand"] = data["cleaned"].apply(lambda x : len(x.split()))

data["char_count"] = data["tweet"].apply(lambda x : len(x))
data["char_count_without_spaces"] = data["tweet"].apply(lambda x : len(x.replace(" ","")))

data["num_dig"] = data["tweet"].apply(lambda x :  sum([1 if w.isdigit() else 0 for w in x.split()])                         )

In [7]:
data.head()

,id,label,tweet,source,cleaned,word_count,word_count_cleand,char_count,char_count_without_spaces,num_dig
0,1,0.0,when a father is dysfunctional and is so sel...,train,father dysfunctional selfish drag kid dysfunct...,17,7,95,75,0
1,2,0.0,thanks for lyft credit i cant use cause they...,train,thank lyft credit cant use cause dont offer wh...,17,13,106,85,0
2,3,0.0,bihday your majesty,train,bihday majesty,3,2,21,17,0
3,4,0.0,model i love u take with u all the time in u...,train,model love u take u time ur,12,7,50,34,0
4,5,0.0,factsguide society now motivation,train,factsguide society motivation,4,3,37,30,0

In [8]:
pos_dic = {"noun" : ["NNP", "NN", "NNS", "NNPS"], "verb" : ["VBZ", "VB", "VBD","VBG", "VBN"]}
import nltk
def pos_check(txt, family):
    tags = nltk.pos_tag(nltk.word_tokenize(txt))
    count = 0
    for tag in tags:
        tag = tag[1]
        if tag in pos_dic[family]:
            count += 1 
    return count

# pos_check("They are playing in the ground", "verb")

data["noun_count"] = data["tweet"].apply(lambda x : pos_check(x, "noun"))
data["verb_count"] = data["tweet"].apply(lambda x : pos_check(x, "verb"))

In [9]:
data.head()

,id,label,tweet,source,cleaned,word_count,word_count_cleand,char_count,char_count_without_spaces,num_dig,noun_count,verb_count
0,1,0.0,when a father is dysfunctional and is so sel...,train,father dysfunctional selfish drag kid dysfunct...,17,7,95,75,0,3,4
1,2,0.0,thanks for lyft credit i cant use cause they...,train,thank lyft credit cant use cause dont offer wh...,17,13,106,85,0,7,2
2,3,0.0,bihday your majesty,train,bihday majesty,3,2,21,17,0,1,0
3,4,0.0,model i love u take with u all the time in u...,train,model love u take u time ur,12,7,50,34,0,4,0
4,5,0.0,factsguide society now motivation,train,factsguide society motivation,4,3,37,30,0,2,0

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

cvz = CountVectorizer()
cvz.fit(data["cleaned"].values)
count_vectors = cvz.transform(data["cleaned"].values)

In [11]:
count_vectors

<49159x48885 sparse matrix of type '<class 'numpy.int64'>'
	with 366047 stored elements in Compressed Sparse Row format>

In [12]:
word_tfidf =TfidfVectorizer(max_features=500)
word_tfidf.fit(data["cleaned"].values)
word_vectors_tfidf = word_tfidf.transform(data["cleaned"].values)

In [13]:
ngram_tfidf =TfidfVectorizer(max_features=500, ngram_range=(1,2))
ngram_tfidf.fit(data["cleaned"].values)
ngram_tfidf_tfidf = ngram_tfidf.transform(data["cleaned"].values)

In [14]:
char_tfidf =TfidfVectorizer(max_features=500, analyzer="char")
char_tfidf.fit(data["cleaned"].values)
char_tfidf_tfidf = char_tfidf.transform(data["cleaned"].values)

In [15]:
tfidf = dict(zip(word_tfidf.get_feature_names(), word_tfidf.idf_))
tfidf_idf = pd.DataFrame(columns=["word_tfidf"]).from_dict(tfidf, orient="index")
tfidf_idf.columns=["word_tfidf"]
tfidf_idf

               word_tfidf
10               6.598829
1st              6.920034
2016             5.936368
act              6.740241
adapt            6.696890
affirmation      5.335137
allahsoil        6.847009
almost           6.812403
alone            6.833022
already          6.470117
also             6.702969
altwaystoheal    5.665109
always           5.500217
amaze            5.578277
america          6.289407
american         6.772398
amp              4.104353
angry            6.092409
animal           6.935301
another          5.816384
anxiety          6.990651
anymore          6.943023
anyone           6.868362
anything         6.778955
around           6.102392
arrive           6.661172
ask              6.672937
attack           6.153861
away             6.289407
awesome          6.132955
...                   ...
wed              6.109103
wednesday        6.890181
week             5.085031
weekend          5.104568
well             5.500217
whatever         5.970953
whats            6.632352
white            5.894753
whole            6.990651
win              6.226886
wish             5.691368
without          6.386735
woman            5.652233
wonderful        6.740241
wont             6.460501
word             6.261572
work             4.878223
world            5.289605
would            5.867941
wow              6.413764
write            6.812403
wrong            6.812403
yay              6.833022
yeah             6.391190
year             5.148683
yes              6.242154
yesterday        6.904996
yet              6.413764
young            6.465297
youre            5.650103

[500 rows x 1 columns]

In [16]:
## feature engineering 

## meta features
data["cleaned"] = data["cleaned"].fillna("")

data["digit_count"] = data["tweet"].apply(lambda x : sum([1 if w.isdigit() else 0 for w in x.split()]))
data["upper_count"] = data["tweet"].apply(lambda x : sum([1 if w.isupper() else 0 for w in x.split()]))
data["word_count"] = data["cleaned"].apply(lambda x: len(x.split()))
data["char_count"] = data["cleaned"].apply(lambda x: len(x))
data["char_nospace_count"] = data["cleaned"].apply(lambda x: len(x.replace(" ","")))

data

,id,label,tweet,source,cleaned,word_count,word_count_cleand,char_count,char_count_without_spaces,num_dig,noun_count,verb_count,digit_count,upper_count,char_nospace_count
0,1,0.0,when a father is dysfunctional and is so sel...,train,father dysfunctional selfish drag kid dysfunct...,7,7,53,75,0,3,4,0,0,47
1,2,0.0,thanks for lyft credit i cant use cause they...,train,thank lyft credit cant use cause dont offer wh...,13,13,85,85,0,7,2,0,0,73
2,3,0.0,bihday your majesty,train,bihday majesty,2,2,14,17,0,1,0,0,0,13
3,4,0.0,model i love u take with u all the time in u...,train,model love u take u time ur,7,7,27,34,0,4,0,0,0,21
4,5,0.0,factsguide society now motivation,train,factsguide society motivation,3,3,29,30,0,2,0,0,0,27
5,6,0.0,22 huge fan fare and big talking before they l...,train,22 huge fan fare big talk leave chaos pay disp...,12,12,68,90,1,4,2,1,0,57
6,7,0.0,camping tomorrow danny,train,camp tomorrow danny,3,3,19,20,0,2,1,0,0,17
7,8,0.0,the next school year is the year for exams can...,train,next school year year exam cant think school e...,14,14,95,104,0,8,1,0,0,82
8,9,0.0,we won love the land allin cavs champions clev...,train,love land allin cavs champion cleveland clevel...,7,7,58,61,0,5,2,0,0,52
9,10,0.0,welcome here im its so gr8,train,welcome im gr8,3,3,14,21,0,1,1,0,0,12
10,11,0.0,ireland consumer price index mom climbed fro...,train,ireland consumer price index mom climb previou...,14,14,80,77,2,5,5,2,0,67
11,12,0.0,we are so selfish orlando standwithorlando pul...,train,selfish orlando standwithorlando pulseshooting...,10,10,108,107,0,4,4,0,0,99
12,13,0.0,i get to see my daddy today 80days gettingfed,train,get see daddy today 80days gettingfed,6,6,37,37,0,4,1,0,0,32
13,14,1.0,cnn calls michigan middle school build the wa...,train,cnn call michigan middle school build wall cha...,9,9,53,49,0,5,1,0,0,45
14,15,1.0,no comment in australia opkillingbay seashe...,train,comment australia opkillingbay seashepherd hel...,7,7,84,82,0,4,0,0,0,78
15,16,0.0,ouchjunior is angrygot7 junior yugyoem omg,train,ouchjunior angrygot7 junior yugyoem omg,5,5,39,37,0,3,1,0,0,35
16,17,0.0,i am thankful for having a paner thankful posi...,train,thankful paner thankful positive,4,4,32,42,0,3,1,0,0,29
17,18,1.0,retweet if you agree,train,retweet agree,2,2,13,17,0,1,0,0,0,12
18,19,0.0,its friday smiles all around via ig user coo...,train,friday smile around via ig user cooky make people,9,9,49,50,0,5,0,0,0,41
19,20,0.0,as we all know essential oils are not made of ...,train,know essential oil make chemical,5,5,32,45,0,2,1,0,0,28
20,21,0.0,euro2016 people blaming ha for conceded goal w...,train,euro2016 people blame ha concede goal fat roon...,15,15,82,101,0,6,5,0,0,68
21,22,0.0,sad little dude badday coneofshame cats piss...,train,sad little dude badday coneofshame cat piss fu...,9,9,55,51,0,5,1,0,0,47
22,23,0.0,product of the day happy man wine tool whos ...,train,product day happy man wine tool who weekend ti...,12,12,63,70,0,8,3,0,0,52
23,24,1.0,lumpy says i am a prove it lumpy,train,lumpy say prove lumpy,4,4,21,25,0,3,2,0,0,18
24,25,0.0,tgif ff to my gamedev indiedev indiegamede...,train,tgif ff gamedev indiedev indiegamedev squad,6,6,43,42,0,6,0,0,0,38
25,26,0.0,beautiful sign by vendor 80 for 4500 upsideoff...,train,beautiful sign vendor 80 4500 upsideofflorida ...,8,8,62,60,2,3,0,2,0,55
26,27,0.0,all smiles when media is pressconference...,train,smile medium pressconference antalya turkey su...,8,8,65,69,0,6,1,0,0,58
27,28,0.0,we had a great panel on the mediatization of t...,train,great panel mediatization public service ica16,6,6,46,57,0,4,1,0,0,41
28,29,0.0,happy fathers day,train,happy father day,3,3,16,15,0,2,0,0,0,14
29,30,0.0,50 people went to nightclub to have a good nig...,train,50 people go nightclub good night 1 man action...,15,15,89,109,2,6,5,2,0,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49129,49130,NaN,people do anything for fucking attention nowad...,test,people anything fuck attention nowadays,5,5,39,43,0,4,1,0,0,35
49130,49131,NaN,creative bubble got burst looking forward to ...,test,creative bubble get burst look forward day nev...,11,11,66,78,0,3,4,0,0,56
49131,49132,NaN,tomorrow is gonna be a big day we are going to...,test,tomorrow gonna big day go deliver first box bo...,12,12,67,78,0,5,5,0,0,56
49132,49133,NaN,i am thankful for baby giggles thankful positi...,test,thankful baby giggle thankful positive,5,5,38,41,0,3,0,0,0,34
49133,49134,NaN,model i love u take with u all the time in u...,test,model love u take u time ur,7,7,27,34,0,4,0,0,0,21
49134,49135,NaN,in life u will grow to learn some pple will wo...,test,life u grow learn pple work fuck u coz ur life...,17,17,75,88,0,7,6,0,0,59
49135,49136,NaN,i was the stormyou were the rain together we d...,test,stormyou rain together destroy town become nam...,9,9,61,79,0,5,5,0,0,53
49136,49137,NaN,lovelgq broken ep via rnb love heabroken h...,test,lovelgq break ep via rnb love heabroken hea dr...,14,14,90,78,0,8,1,0,0,77
49137,49138,NaN,spread love not hate prayingfororlando lovea...,test,spread love hate prayingfororlando loveanother...,7,7,60,57,0,3,1,0,0,54
49138,49139,NaN,are the most racist pay ever,test,racist pay ever,3,3,15,23,0,1,0,0,0,13
49139,49140,NaN,i am thankful for children thankful positive,test,thankful child thankful positive,4,4,32,38,0,3,0,0,0,29
49140,49141,NaN,liverpool walk liverpool starbucks avidaeboa ...,test,liverpool walk liverpool starbucks avidaeboa p...,8,8,72,65,0,5,0,0,0,65
49141,49142,NaN,bakersfield rooster simulation i want to cli...,test,bakersfield rooster simulation want climb vast...,11,11,81,87,0,8,2,0,0,71
49142,49143,NaN,por do sol instagood beautiful instadaily in...,test,por sol instagood beautiful instadaily instali...,10,10,82,77,0,5,2,0,0,73
49143,49144,NaN,hell yeah what a great surprise for your pres...,test,hell yeah great surprise present enjoy picture...,8,8,53,66,0,5,1,0,0,46
49144,49145,NaN,when ur the joke ur defensive towards everything,test,ur joke ur defensive towards everything,6,6,39,41,0,3,1,0,0,34
49145,49146,NaN,enjoying the evening sun in my bedroom cozy...,test,enjoy even sun bedroom cozy even homesweethome...,8,8,55,64,0,5,2,0,0,48
49146,49147,NaN,tonight on from 9pm gmt you can here a speci...,test,tonight 9pm gmt special early play new song up...,10,10,58,76,0,5,0,0,0,49
49147,49148,NaN,today is a good day for excercise imready sofu...,test,today good day excercise imready sofuckenready...,9,9,71,69,0,6,1,0,0,63
49148,49149,NaN,good night with a tea and music billy music t...,test,good night tea music billy music tea mug tokio...,10,10,65,64,0,8,0,0,0,56
49149,49150,NaN,loving life createyourfuture lifestyle holi...,test,love life createyourfuture lifestyle holiday l...,10,10,72,65,0,5,1,0,0,63
49150,49151,NaN,black professor demonizes proposes nazi style ...,test,black professor demonize propose nazi style co...,13,13,93,89,0,6,2,0,0,81
49151,49152,NaN,learn how to think positive positive instag...,test,learn think positive positive instagram instagood,6,6,49,49,0,2,2,0,0,44
49152,49153,NaN,we love the pretty happy and fresh you teenili...,test,love pretty happy fresh teenilicious fixdermat...,9,9,74,77,0,2,0,0,0,66
49153,49154,NaN,2damntuffruffmufftechnocityng005web1997ukhxint...,test,2damntuffruffmufftechnocityng005web1997ukhxint...,5,5,69,65,0,3,0,0,0,65
49154,49155,NaN,thought factory leftright polarisation trump u...,test,think factory leftright polarisation trump use...,11,11,93,85,0,7,0,0,0,83
49155,49156,NaN,feeling like a mermaid hairflip neverready fo...,test,feel like mermaid hairflip neverready formal w...,10,10,67,68,0,3,3,0,0,58
49156,49157,NaN,hillary campaigned today in ohioomg amp used w...,test,hillary campaign today ohioomg amp use word li...,14,14,109,109,0,9,4,0,0,96
49157,49158,NaN,happy at work conference right mindset leads t...,test,happy work conference right mindset lead cultu...,10,10,87,84,0,5,2,0,0,78
49158,49159,NaN,my song so glad free download shoegaze newm...,test,song glad free download shoegaze newmusic newsong,7,7,49,47,0,4,0,0,0,43

In [17]:
## nlp based features 

pos_dic = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

def pos_check(x, flag):
    tags = nltk.pos_tag(nltk.word_tokenize(x))
    count = 0
    for tag in tags:
        tag = tag[1]
        if tag in pos_dic[flag]:
            count += 1
    return count

data['noun_count'] = data['cleaned'].apply(lambda x: pos_check(x, 'noun'))
data['verb_count'] = data['cleaned'].apply(lambda x: pos_check(x, 'verb'))
data.head()

,id,label,tweet,source,cleaned,word_count,word_count_cleand,char_count,char_count_without_spaces,num_dig,noun_count,verb_count,digit_count,upper_count,char_nospace_count
0,1,0.0,when a father is dysfunctional and is so sel...,train,father dysfunctional selfish drag kid dysfunct...,7,7,53,75,0,3,1,0,0,47
1,2,0.0,thanks for lyft credit i cant use cause they...,train,thank lyft credit cant use cause dont offer wh...,13,13,85,85,0,10,3,0,0,73
2,3,0.0,bihday your majesty,train,bihday majesty,2,2,14,17,0,2,0,0,0,13
3,4,0.0,model i love u take with u all the time in u...,train,model love u take u time ur,7,7,27,34,0,3,1,0,0,21
4,5,0.0,factsguide society now motivation,train,factsguide society motivation,3,3,29,30,0,2,0,0,0,27

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

cvz = CountVectorizer(analyzer='word') 
cvz.fit(data["cleaned"].values)
count_vectors = cvz.transform(data["cleaned"].values)

In [19]:
count_vectors

<49159x48885 sparse matrix of type '<class 'numpy.int64'>'
	with 366047 stored elements in Compressed Sparse Row format>

In [20]:
word_tfidf = TfidfVectorizer(analyzer='word') 
word_tfidf.fit(data["cleaned"].values)
word_vectors_tfidf = word_tfidf.transform(data["cleaned"].values)

ngram_tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1,3)) 
ngram_tfidf.fit(data["cleaned"].values)
ngarm_vectors_tfidf = ngram_tfidf.transform(data["cleaned"].values)

char_tfidf = TfidfVectorizer(analyzer='char', ngram_range=(1,3)) 
char_tfidf.fit(data["cleaned"].values)
char_vectors_tfidf = char_tfidf.transform(data["cleaned"].values)

In [21]:
tfidf = dict(zip(word_tfidf.get_feature_names(), word_tfidf.idf_))
tfidf = pd.DataFrame(columns=['title_word_tfidf']).from_dict(dict(tfidf), orient='index')
tfidf.columns = ['title_word_tfidf']
tfidf.sort_values(by=['title_word_tfidf'], ascending=False).head()

                   title_word_tfidf
000                       11.109688
morelebronexcuses         11.109688
morellisices              11.109688
morelovelesshate          11.109688
moremulaaaa               11.109688

In [22]:
tfidf.sort_values(by=['title_word_tfidf'], ascending=False).tail()

       title_word_tfidf
amp            4.104353
happy          3.984808
get            3.942265
day            3.555092
love           3.433447

In [23]:
data.columns

Index(['id', 'label', 'tweet', 'source', 'cleaned', 'word_count',
       'word_count_cleand', 'char_count', 'char_count_without_spaces',
       'num_dig', 'noun_count', 'verb_count', 'digit_count', 'upper_count',
       'char_nospace_count'],
      dtype='object')

### Separate train & test:

In [25]:
train = data.loc[data['source']=='train']
test = data.loc[data['source']=='test']

In [26]:
train.drop('source',axis=1,inplace=True)
test.drop(['source','label'],axis=1,inplace=True)

C:\Users\Sourav\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [28]:
train.to_csv('train_modified.csv',index=False)
test.to_csv('test_modified.csv',index=False)

In [29]:
train.head()

,id,label,tweet,cleaned,word_count,word_count_cleand,char_count,char_count_without_spaces,num_dig,noun_count,verb_count,digit_count,upper_count,char_nospace_count
0,1,0.0,when a father is dysfunctional and is so sel...,father dysfunctional selfish drag kid dysfunct...,7,7,53,75,0,3,1,0,0,47
1,2,0.0,thanks for lyft credit i cant use cause they...,thank lyft credit cant use cause dont offer wh...,13,13,85,85,0,10,3,0,0,73
2,3,0.0,bihday your majesty,bihday majesty,2,2,14,17,0,2,0,0,0,13
3,4,0.0,model i love u take with u all the time in u...,model love u take u time ur,7,7,27,34,0,3,1,0,0,21
4,5,0.0,factsguide society now motivation,factsguide society motivation,3,3,29,30,0,2,0,0,0,27

### Train and Fit Model:

In [64]:
train_modified = pd.read_csv('train_modified.csv')
test_modified = pd.read_csv('test_modified.csv')

In [65]:
# predictors
predictors = ['digit_count', 'upper_count', 'word_count', 'char_count', 'char_nospace_count', 'noun_count', 'verb_count']

Xtrain = train_modified[predictors]
Ytrain = train_modified['label']

from scipy.sparse import hstack, csr_matrix
meta_features = ['digit_count', 'upper_count', 'word_count', 'char_count', 'char_nospace_count', 'noun_count', 'verb_count']

feature_set1 = train_mod[meta_features]
train = hstack([word_vectors_tfidf, csr_matrix(feature_set1)], 'csr')
target = train_mod['label'].values
train

feature_set1 = test_mod[meta_features]
test_meta = hstack([word_vectors_tfidf, csr_matrix(feature_set1)], 'csr')
test_meta

In [66]:
target='label'
IDcol = 'id'

Ytrain.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: label, dtype: float64

In [67]:
from sklearn import naive_bayes
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn import ensemble
import xgboost
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [50]:
from sklearn.preprocessing import LabelEncoder

target = LabelEncoder().fit_transform(train)

ValueError: bad input shape ()

In [ ]:
# predictors
#predictors = [x for x in train.columns if x not in [target, IDcol]]

In [68]:
from sklearn.model_selection import train_test_split
trainx, valx, trainy, valy = train_test_split(Xtrain, Ytrain)

#### 1. Model: NaiveBayes

In [73]:
import numpy as np

## NaiveBayes
model = naive_bayes.MultinomialNB()
model.fit(trainx, trainy)
preds = model.predict(valx)
accur = accuracy_score(preds, valy)
f1 = f1_score(valy, preds, average='weighted', labels=np.unique(preds))

print('Accuracy Score (Train): %f' % accur)
print('F1 Score (Train): %f' % f1)

Accuracy Score (Train): 0.929045
F1 Score (Train): 0.963218

#### 2. Model: LogisticRegression

In [78]:
model = LogisticRegression()
model.fit(trainx, trainy)
preds = model.predict(valx)
accur = accuracy_score(preds, valy)
f1 = f1_score(valy, preds, average='weighted', labels=np.unique(preds))

print('Accuracy Score (Train): %f' % accur)
print('F1 Score (Train): %f' % f1)

Accuracy Score (Train): 0.929045
F1 Score (Train): 0.963218

C:\Users\Sourav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

#### 3. Model: SVC

In [75]:
model = svm.SVC()
model.fit(trainx, trainy)
preds = model.predict(valx)
accur = accuracy_score(preds, valy)
f1 = f1_score(valy, preds, average='weighted', labels=np.unique(preds))

print('Accuracy Score (Train): %f' % accur)
print('F1 Score (Train): %f' % f1)

C:\Users\Sourav\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Accuracy Score (Train): 0.929796
F1 Score (Train): 0.896707

#### 4. Model: XGBoost

In [76]:
model = xgboost.XGBClassifier()
model.fit(trainx, trainy)
preds = model.predict(valx)
accur = accuracy_score(preds, valy)
f1 = f1_score(valy, preds, average='weighted', labels=np.unique(preds))

print('Accuracy Score (Train): %f' % accur)
print('F1 Score (Train): %f' % f1)

Accuracy Score (Train): 0.929796
F1 Score (Train): 0.896707

#### 4. Model: Ensemble

In [84]:
model = ensemble.ExtraTreesClassifier()
model.fit(trainx, trainy)
preds = model.predict(valx)
accur = accuracy_score(preds, valy)
f1 = f1_score(valy, preds, average='weighted', labels=np.unique(preds))

print('Accuracy Score (Train): %f' % accur)
print('F1 Score (Train): %f' % f1)

Accuracy Score (Train): 0.925541
F1 Score (Train): 0.908625

C:\Users\Sourav\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)